// pages/layout.pug

html
  head
    title= pageTitle
    link(rel="stylesheet" href="/styles.css")  
  body
    nav
      ul
        li: a(href='/') Home
        li: a(href='/services') Our Services
        li: a(href='/contact') Contact us

    block content
